# Dependencies for mvave_probe.py, installed into venv-midi by run_probe.bat.
# Installed into its own virtualenv so it cannot disturb any other virtualenv in
# the project -- see docs/PROBE.md, Setup.
# Known-good against Python 3.7-3.12 on Windows and Linux. The probe uses only
# a small, stable slice of mido: get_input_names/get_output_names, open_input/
# open_output, Message, and port.iter_pending/send/close/name. Licences are not
# vendored here -- neither package is redistributed; run_probe.bat installs them
# into tools/venv-midi/ at first run.
mido==1.3.2
python-rtmidi==1.5.8
